<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.iam.GroupMenuDao">
	<resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.iam.GroupMenu">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="group_id" property="groupId" jdbcType="INTEGER" />
		<result column="menu_id" property="menuId" jdbcType="INTEGER" />
		<result column="create_by" property="createBy" jdbcType="INTEGER" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, group_id, menu_id, create_by, create_date
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sys_group_menu
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectMenuIdsByGroupId" resultType="java.lang.Long" parameterType="java.lang.Long">
		select
		menu_id
		from sys_group_menu
		where
		group_id = #{groupId,jdbcType=BIGINT}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from sys_group_menu
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<delete id="deleteByGroupId" parameterType="java.lang.Long">
		delete from sys_group_menu
		where group_id = #{groupId,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.wl4g.components.core.bean.iam.GroupMenu">
		insert into sys_group_menu (id, group_id, menu_id,
		create_by, create_date)
		values
		(#{id,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT},
		#{createBy,jdbcType=BIGINT},
		#{createDate,jdbcType=TIMESTAMP})
	</insert>

	<insert id="insertBatch" parameterType="java.util.Map">
		insert into sys_group_menu (id, group_id, menu_id,create_by, create_date)
		VALUES
		<foreach collection="groupMenus" item="groupMenu" separator=",">
			(#{groupMenu.id,jdbcType=BIGINT},
			#{groupMenu.groupId,jdbcType=BIGINT}, #{groupMenu.menuId,jdbcType=BIGINT},
			#{groupMenu.createBy,jdbcType=BIGINT},
			#{groupMenu.createDate,jdbcType=TIMESTAMP})
		</foreach>
	</insert>

	<insert id="insertSelective" parameterType="com.wl4g.components.core.bean.iam.GroupMenu" useGeneratedKeys="true"
		keyProperty="id">
		insert into sys_group_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="groupId != null">
				group_id,
			</if>
			<if test="menuId != null">
				menu_id,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="groupId != null">
				#{groupId,jdbcType=BIGINT},
			</if>
			<if test="menuId != null">
				#{menuId,jdbcType=BIGINT},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=BIGINT},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.iam.GroupMenu">
		update sys_group_menu
		<set>
			<if test="groupId != null">
				group_id = #{groupId,jdbcType=BIGINT},
			</if>
			<if test="menuId != null">
				menu_id = #{menuId,jdbcType=BIGINT},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.iam.GroupMenu">
		update sys_group_menu
		set group_id = #{groupId,jdbcType=BIGINT},
		menu_id =
		#{menuId,jdbcType=BIGINT},
		create_by = #{createBy,jdbcType=BIGINT},
		create_date = #{createDate,jdbcType=TIMESTAMP}
		where id =
		#{id,jdbcType=BIGINT}
	</update>
</mapper>