<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.ci.TaskDetailDao">
	<resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.ci.TaskInstance">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="task_id" property="taskId" jdbcType="INTEGER" />
		<result column="instance_id" property="instanceId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, task_id, instance_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from ci_task_instance
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from ci_task_instance
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.wl4g.components.core.bean.ci.TaskInstance">
		insert into ci_task_instance (id, task_id, instance_id
		)
		values (#{id,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, #{instanceId,jdbcType=BIGINT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.wl4g.components.core.bean.ci.TaskInstance">
		insert into ci_task_instance
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="taskId != null">
				task_id,
			</if>
			<if test="instanceId != null">
				instance_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="taskId != null">
				#{taskId,jdbcType=BIGINT},
			</if>
			<if test="instanceId != null">
				#{instanceId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.ci.TaskInstance">
		update ci_task_instance
		<set>
			<if test="taskId != null">
				task_id = #{taskId,jdbcType=BIGINT},
			</if>
			<if test="instanceId != null">
				instance_id = #{instanceId,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.ci.TaskInstance">
		update ci_task_instance
		set task_id = #{taskId,jdbcType=BIGINT},
		instance_id = #{instanceId,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<delete id="deleteByTaskId" parameterType="java.lang.Long">
		delete from ci_task_instance
		where task_id = #{taskId,jdbcType=BIGINT}
	</delete>

	<select id="getUsedInstance" resultMap="BaseResultMap" parameterType="java.util.Map">
		select td.* from ci_task t
		left join ci_task_instance td on t.id=td.task_id
		where t.app_cluster_id=#{appClusterId,jdbcType=BIGINT}
		<if test="taskId != null">
			and t.id !=#{taskId,jdbcType=BIGINT}
		</if>
	</select>
	<select id="selectByTaskId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from ci_task_instance
		where task_id = #{taskId,jdbcType=BIGINT}
	</select>
</mapper>